<!--<div class="mdc-layout-grid" id="loginPage">-->
<!--  <div class="mdc-layout-grid__inner header">-->
<!--    <h1 class="mdc-typography&#45;&#45;headline4">Login</h1>-->
<!--  </div>-->
<!--  <div class="mdc-layout-grid__inner">-->
<!--    <button id="btnConfirm" class="mdc-button mdc-button&#45;&#45;outlined">-->
<!--      <div class="mdc-button__ripple"></div>-->
<!--      <span class="mdc-button__label">Confirm</span>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
<main class="spectrum-grid" id="loginPage">
  <div class="spectrum-Typography">
    <h1 class="spectrum-Heading spectrum-Heading--sizeXL">Login Page</h1>
    <p class="spectrum-Body spectrum-Body--sizeXL">This is a webpage</p>
  </div>
  <sp-button size="m" id="btnConfirm">Confirm</sp-button>
</main>

