:root {
  --spectrum-rail-content-background-color: var(--spectrum-global-color-gray-100);
  --spectrum-rail-handle-background-color: var(--spectrum-global-color-gray-300);
  --spectrum-rail-handle-background-color-hover: var(--spectrum-global-color-gray-400);
  --spectrum-rail-handle-background-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-rail-content-wireIdth: 304px;
  --spectrum-rail-handle-wireIdth: var(--spectrum-global-dimension-static-size-25);
  --spectrum-rail-gripper-wireIdth: var(--spectrum-global-dimension-static-size-50);
  --spectrum-rail-gripper-height: var(--spectrum-global-dimension-static-size-200);
  --spectrum-rail-gripper-border-wireIdth-vertical: 4px;
  --spectrum-rail-gripper-border-wireIdth-horizontal: 3px;
  --spectrum-rail-gripper-border-radius: var(--spectrum-alias-border-radius-small);
}
