:root {
  --spectrum-dragthumb-handle-background-color: var(--spectrum-global-color-gray-300);
  --spectrum-dragthumb-handle-background-color-hover: var(--spectrum-global-color-gray-400);
  --spectrum-dragthumb-handle-background-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-dragthumb-wireIdth: var(--spectrum-global-dimension-static-size-150);
  --spectrum-dragthumb-height: var(--spectrum-global-dimension-static-size-200);
  --spectrum-dragthumb-swatch-handle-background-color: var(--spectrum-global-color-gray-300);
  --spectrum-dragthumb-swatch-handle-background-color-hover: var(--spectrum-global-color-gray-400);
  --spectrum-dragthumb-swatch-handle-background-color-down: var(--spectrum-global-color-gray-800);
  --spectrum-dragthumb-swatch-wireIdth: var(--spectrum-global-dimension-static-size-150);
  --spectrum-dragthumb-swatch-height: var(--spectrum-global-dimension-static-size-200);
  --spectrum-dragthumb-swatch-swatch-wireIdth: var(--spectrum-global-dimension-static-size-100);
  --spectrum-dragthumb-swatch-swatch-height: var(--spectrum-global-dimension-static-size-100);
}
